<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permission pour accéder au réseau pour le callApi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinTp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".article.ArticlePage"
            android:exported="false"
            android:theme="@style/Theme.KotlinTp"
            tools:ignore="MissingClass"/>
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.KotlinTp"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.Register"
            android:exported="true"
            android:theme="@style/Theme.KotlinTp"
            tools:ignore="MissingClass"/>
        <activity
            android:name=".resetPassword.ForgottenPassword"
            android:exported="true"
            android:theme="@style/Theme.KotlinTp"
            tools:ignore="MissingClass"/>
        <activity
            android:name=".article.ListPage"
            android:exported="true"
            android:theme="@style/Theme.KotlinTp"
            tools:ignore="MissingClass"/>
    </application>

</manifest>